# Core functionality - changes here should be rare!
/src/app.py                   @TheAbyssCup
/src/backend/database.py      @TheAbyssCup
/src/backend/routers/auth.py  @TheAbyssCup

# The frontend will need refactored soon to be more object oriented.
/src/static/   @TheAbyssCup
